html, body { height: 100%; width: 100%; margin: 0; }
body{

    font-family:monospace;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(images/background.jpg);
    margin: 0%;
    color: white;
}
/* ============NavBar=========== */
nav{
    height: 8%;
    color: white;
    background-color:rgba(0,0,0,0.9);
    position: fixed;
    z-index: 10;
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding:0.5%;
    padding-left: 7%;
}
nav div, nav h3,nav input{
    display: inline-block;
}
/* Logo */
#brand{
    line-height: inherit;
    float: left;
}
#brand img{
    width: 6%;
    height: 70%;
    margin-right: 1%;
    float: left;
}
#brand h3 a{
    text-decoration: none;
    color: white;
    
}
#brand h3, #brand h1 {
    margin-left: 3%;
    margin-top: 1%;
    float: left;
}
#brand h1{
    display: inline-block;
    /* font-size: 1.3rem; */
    font-weight: 800;
    margin: auto;
    
} 
#brand h1 span {
    display: block;
    font-size: 1rem;
}
/* search bar */
#search-bar{
    width: 30%;
    margin-right: 20%;
    float: right;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#searchbar-input{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
#search-bar input:focus {
    color: white;
}
#search-bar input{
    /* font-size: 1rem; */
    background-color: inherit;
    border-radius:25px ;
    border: none;
    margin-bottom: 2%;
    height: 40%;
    /* vertical-align: middle; */
    border: 1px solid white;
    
}
#search-bar ::placeholder{
    color: white;
}
/* User Image */
#user-image{
    width: 15%;
    height: 100%;
    border-radius: 50%;
}
/* Content */
#content{
    background-color:rgba(0,0,0,0.8);
    /* padding-left: 5%;
    padding-right:5%; */
    padding-top: 1%;
    
    width: 100%;
    /* height: 100%; */
    display: flex;
    

}

/*============== Main Section========== */
#main{
    margin-left: 10%;
    margin-right: 2%;
    margin-bottom: 7vh;
    width: 60%;
    margin-top: 5%;
    height: auto;
}
/* Jumbotron containing image and details about artist */
#jumbotron{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color:rgba(0,0,0,0.7);
    padding: 2%;
}
#jumbotron div{
    display: inline-block;
}
#image-container{
    width: 34%;
    height: 70%;
}
#image-container img{
    width: 100%;
   height: 100%;
}
/* Details about Artist */
#about-artist{
    margin-left: 2%;
    width: 60%;
    vertical-align: top;
    color: lightgray;
    /* margin-top: 10%; */
}
#about-artist h1{
    font-size: 2rem;
    color: white;
    margin: 0px;
}
#about-artist #followers{
    float: right;
}

#records-container #follow{
    margin-left: 10%;
    display: inline-block;
}
#records-container #play-button{
    border: none;
    color: white;
    background-image: linear-gradient(90deg,rgb(55, 200, 236),rgb(233, 123, 200));
    font-size: 1rem;
    font-family: monospace;
    cursor: pointer;
    padding: 2% 5% 2% 5%;

}

/* Playlist */
.list-item{
    background-color: rgba(165, 155, 155, 0.637);
    padding: 1%;
}

.list-item img {
    width: 10% !important;
    height: 10% !important;
    margin : 0px !important;
}
.queue-card :hover{
    background-color: gray !important;
}
.queue-card > div {
    opacity: 0.5;
  }

/*============= Aside Section========== */

#aside{
    width: 23%;
    margin-top: 5%;
    margin-left:1%;
}
/* Similar Artists */
#latest-release-albums{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}
.card{
    /* align-items: center;
     */
     margin-top: 2%;
     display: flex;
     align-items: center;
     cursor: pointer;
    width:100%;
    height: 12vh;
}
.card div,.card h2,.card h3,.card h5 {
    display: inline-block;
    margin:0px;
}
.card img{
    width:30%;
    height:100%;
}
.card .author{
    margin: 2%;

}
.card .author h4{
    color: lightgrey;
}
.card .play-time{
    margin-left: 30%;
}

/* Aside Heading */

#recently-played {
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}
#aside-heading{
    position: sticky;
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
}
#aside-heading h1,h4 {
    margin-top: 0px;
    display: inline-block;
}
#aside-heading h4{
    color: cyan;
}
#aside-heading h4 i{
    font-size: 0.6rem;
}
/* Queue Items */

.queue-card{
    margin-left: 5%;
    margin-top: 3%;
    cursor: pointer;
    vertical-align: middle;
}

.queue-card h4{
    display: inline-block;
    vertical-align: middle;
    margin-top: -4%;
}
.queue-card :hover{
    color: cyan;
}
.queue-number{
    color: lightgrey;
    font-weight: 600;
}
.queue-card img{
    box-shadow: 0px 0px 7px 1px white;
    border-radius: 2px;
    width: 15%;
    height:15%;
}
.queue-card div{
    display: inline-block;
}
.queue-card i{
    float: right;
    margin-right: 2%;
    margin-top:2%;
}


/* PLAYER */
#player-container{
    width: 100%;
    height: 10vh;
    background-color: rgba(0,0,0,0.95);
    box-shadow: 0px 0px 2px white;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

#song-info img{
    box-shadow: 0px 0px 5px 0px white;
    border-radius: 2px;
    margin: 1%;
    width: 15%;
    height:90%;
}
#song-info h3{
    display: inline-block;
    vertical-align: middle;
    margin-top: -12%;
}
#song-info h3 span {
    font-size: 0.7rem;
}
#player{
    width: 80%;
    margin-top: 1.5%;
    margin-right: 5%;

}
#player i{
    margin-left: 10% ;
    cursor: pointer;
}
#player :hover{
    color: cyan;
}
#player-playtime{
    margin-right: 10%;
    margin-top: 1%;
}

/* Designing Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.8);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  @media screen and (max-width: 600px) {
    #content{
        flex-wrap: wrap;
    }
    #main{
        width: 100%;
        margin-left: 1%;
        
    }
    #aside{
        width: 100%;
    }
    #latest-release-albums .card{
        width: 100%;
    }
    #popular-artists{
        overflow-x: auto; 
        white-space: nowrap;
        flex-wrap: wrap;
    }
    #mood-container{
        overflow-x: auto; 
        white-space: nowrap;
    }
    #latest-english{
        overflow-x: auto; 
        white-space: nowrap;
    }
  }