html, body { height: 100%; width: 100%; margin: 0; }
body{

    font-family:monospace;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(images/background.jpg);
    margin: 0%;
    color: white;
}
/* ============NavBar=========== */
nav{
    height: 8%;
    color: white;
    background-color:rgba(0,0,0,0.9);
    position: fixed;
    z-index: 10;
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding:0.5%;
    padding-left: 7%;
}
nav div, nav h3,nav input{
    display: inline-block;
}
/* Logo */
#brand{
    line-height: inherit;
    float: left;
}
#brand img{
    width: 6%;
    height: 70%;
    margin-right: 1%;
    float: left;
}
#brand h3 a{
    text-decoration: none;
    color: white;
    background-color: gray;
    
}
#brand h3, #brand h1 {
    cursor: pointer;
    margin-left: 3%;
    margin-top: 1%;
    float: left;
}
#brand h1{
    display: inline-block;
    /* font-size: 1.3rem; */
    font-weight: 800;
    margin: auto;
    
} 
#brand h1 span {
    display: block;
    font-size: 1rem;
}
/* search bar */
#search-bar{
    width: 30%;
    margin-right: 20%;
    float: right;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#searchbar-input{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
#search-bar input:focus {
    color: white;
}
#search-bar input{
    /* font-size: 1rem; */
    background-color: inherit;
    border-radius:25px ;
    border: none;
    margin-bottom: 2%;
    height: 40%;
    /* vertical-align: middle; */
    border: 1px solid white;
    
}
#search-bar ::placeholder{
    color: white;
}
/* User Image */
#user-image{
    width: 15%;
    height: 100%;
    border-radius: 50%;
}
/* Content */
#content{
    background-color:rgba(0,0,0,0.8);
    /* padding-left: 5%;
    padding-right:5%; */
    padding-top: 1%;
    
    width: 100%;
    /* height: 100%; */
    display: flex;
    

}

/*============== Main Section========== */
#main{
    margin-left: 10%;
    margin-right: 2%;
    margin-bottom: 7vh;
    width: 60%;
    margin-top: 7%;
    /* height: 70vh; */
    height: auto;
    /* border: 1px solid white; */
    /* background-color:rgba(0,0,0,0.8); */
}
/* Carousel */
#carousel{
    height: 45vh;
    width: 100%;
    display: flex;
}
.carousel-img{
    display: inline-block;
    width: 50%;
    max-height: 40vh;
    margin-top: 2%;
    cursor: pointer;
    box-shadow: 0px 0px 7px black;
    /* transition: 1s ease-in-out; */
}
.carousel-img img{
    width:100%;
    height: 100%;
    max-height: -webkit-fill-available;
}
#carousel2{
    margin-left:-10% ;
    margin-right: -10%;
    z-index: 1;
    margin-top: 0px;
    width: 70%;
    max-height: inherit;
    box-shadow: 0px 0px 7px black;
    
}
/* Carousel animation */
.carousel-img :hover{
    position: relative;
    z-index: 2;
    transform: scale(1.15);
    transition: transform 0.6s ease-in-out ;
    box-shadow: 0px 0px 7px black;
}

/* latest release */
#latest-release-albums{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    /* align-items: center;
     */
     margin-top: 2%;
     display: flex;
     align-items: center;
     cursor: pointer;
    width:40%;
    height: 12vh;
}
.card div,.card h2,.card h3,.card h5 {
    display: inline-block;
    margin:0px;
}
.card img{
    width:30%;
    height:100%;
}
.card .author{
    margin: 2%;

}
.card .author h4{
    color: lightgrey;
}
.card .play-time{
    margin-left: 30%;
}
/* popular artist Section */
#popular-artists{
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;

}
#popular-artists div{
    display: inline-block;
    text-align: center;
}
.artist{
    
    margin: 1%;
    width: 20%;
    height: 20%;
    cursor: pointer;
    text-align: center;
}
.artist h3{
    margin-top: 0px;
}
.artist img{
    width: 100%;
    height:100%;
    border-radius: 50%;
    border: 1px solid white;
}
/* Mood Section */
#mood-container{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0,0,0,0.6);
    padding: 2%;
}
#mood-icon{
    width: 90px;
    height:90px;
    background-color: inherit;
    margin-left: 4%;
    /* background-color: black; */
}
.mood{
    display: inline-block;
    border-radius: 50%;
    margin-left: 2%;
    width: 14%;
    height: 14%;
    box-shadow: 0px 0px 7px white;
    cursor: pointer;
}
.mood :hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    box-shadow: 0px 0px 7px white;
}
.mood img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.mood p{
    font-size: 1.1rem;
    text-shadow: 2px 2px 3px black;
    text-align: center;
}
/* Event Section */
#event-container{
    display: flex;
    justify-content: space-evenly;
}
.event{
    max-height: 30vh;
    width: 32%;
    cursor: pointer;
    margin-top: 1%;
    display: inline-block;
}
.event img{
    width: 100%;
    height: 100%;;
}
.event :hover{
    transform: scale(1.10);
    transition: 0.5s ease-in-out;

}
/* Latest English Section */
#latest-english{
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
}
.song{
    margin: 1%;
    width: 20%;
    height: 20%;
    cursor: pointer;
    text-align: center;
}
.song :hover{
    box-shadow: 0px 0px 15px white;
    transition: 0.3s ease-in-out;
}
.song h4,h3{
    margin: 0;
}
.song h4{
    /* margin-top: 0px; */
    font-weight: 500;
    color: lightgrey;
}

.song img{
    width: 100%;
    border-radius: 2px;
    height:100%;
}



/*============= Aside Section========== */

#aside{
    width: 23%;
    margin-top: 7%;
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    /* border: 1px solid white; */
    /* background-color:rgba(0,0,0,0.8); */
}
/* Aside Heading */
#aside-heading{
    position: sticky;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}
#aside-heading h1,h4 {
    margin-top: 0px;
    display: inline-block;
}
#aside-heading h4{
    color: cyan;
}
#aside-heading h4 i{
    font-size: 0.6rem;
}
/* Queue Items */
.queue-card{
    margin-left: 5%;
    margin-top: 3%;
    cursor: pointer;
    vertical-align: middle;
}

.queue-card h4{
    display: inline-block;
    vertical-align: middle;
    margin-top: -4%;
}
.queue-card :hover{
    color: cyan;
}
.queue-number{
    color: lightgrey;
    font-weight: 600;
}
.queue-card img{
    box-shadow: 0px 0px 7px 1px white;
    border-radius: 2px;
    width: 15%;
    height:15%;
}
.queue-card div{
    display: inline-block;
}
.queue-card i{
    float: right;
    margin-right: 2%;
    margin-top:2%;
}


/* PLAYER */
#player-container{
    width: 100%;
    height: 10vh;
    background-color: rgba(0,0,0,0.95);
    box-shadow: 0px 0px 2px white;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#player-container #slider-container{
    width: 70%;
}

#song-info img{
    box-shadow: 0px 0px 5px 0px white;
    border-radius: 2px;
    margin: 1%;
    width: 15%;
    height:90%;
}
#song-info h3{
    display: inline-block;
    vertical-align: middle;
    margin-top: -12%;
}
#song-info h3 span {
    font-size: 0.7rem;
}
#myrange{
    min-width: 100%;
}
#player{
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
    margin-right: 5%;

}
/* Slider for player */
.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  .slider {
    width: 100%; 
    height: 25px; 
    background: #d3d3d3;
    outline: none;
  }
#myrange{
    width: 100%;
}
#player i{
    margin-left: 10% ;
    cursor: pointer;
}
#player :hover{
    color: cyan;
}
#player-playtime{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
}
/* Designing Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.8);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  @media screen and (max-width: 600px) {
    #search-bar{
        display: none;
    }
    #brand{
        width: 100%;
    }

    #content{
        flex-wrap: wrap;
    }
    #main{
        width: 100%;
        margin-left: 1%;
        
    }
    #aside{
        width: 100%;
    }
    #latest-release-albums .card{
        width: 100%;
    }
    #popular-artists{
        overflow-x: auto; 
        white-space: nowrap;
        flex-wrap: wrap;
    }
    #mood-container{
        overflow-x: auto; 
        white-space: nowrap;
    }
    #latest-english{
        overflow-x: auto; 
        white-space: nowrap;
    }
  }